<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-4">
  <div class="clearfix">
    <button class="btn btn-primary float-right">+ Add City</button>
  </div>
  <app-city-card (selectedCard)="select($event)" title="Paris" cityCode="6455259" temp="13" tempMax="21" tempMin="12" country="France" flag="fr"
    weatherIcon="03d">
  </app-city-card>
  <app-city-card (selectedCard)="select($event)" title="London" cityCode="2643743" temp="12" tempMax="23" tempMin="13" country="England" flag="gb"
    weatherIcon="10d">
  </app-city-card>
  <app-city-card (selectedCard)="select($event)" title="Moscow" cityCode="524901" temp="15" tempMax="25" tempMin="12" country="Russia" flag="ru"
    weatherIcon="01d">
  </app-city-card>
  <app-city-card (selectedCard)="select($event)" title="Amsterdam" cityCode="2759794" temp="14" tempMax="17" tempMin="11" country="Netherland" flag="nl"
    weatherIcon="09d">
  </app-city-card>
  <app-city-card (selectedCard)="select($event)" title="Pisa" cityCode="3170647" temp="10" tempMax="17" tempMin="8" country="Italy" flag="it"
    weatherIcon="02d">
  </app-city-card>
</div>
<router-outlet></router-outlet>